*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
/MicroEngineerProject/.vs/MicroEngineer/FileContentIndex
/MicroEngineerProject/.vs/ProjectEvaluation/microengineer.metadata.v2
/MicroEngineerProject/.vs/ProjectEvaluation/microengineer.projects.v2
/micro_engineer_0.3.1.zip
/Staging
/MicroEngineerProject/.vs/*
MicroEngineerProject/external_dlls/SpaceWarp.pdb
